
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.fdt
.metadata/version.ini
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/5.png
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/3332416492.index
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_2.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_2.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_2.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_2.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_2.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_2.fdt
