<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vibeat.vibeatapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="ViBeat"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.EnterPartyActivity" />
        <activity
            android:name=".Activities.CreatePartyActivity"
            android:fitsSystemWindows="false"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Activities.PlaylistActivity"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="1300552146744496" />

        <activity
            android:name=".Activities.ConnectedActivity"
            android:fitsSystemWindows="false"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Activities.AddMusicActivity" />
        <activity android:name=".Activities.LoadingActivity" />
        <activity android:name=".Activities.NoConnectionActivity"></activity>
    </application>

</manifest>